<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/project439/Grocery"
			class = "org.xtext.project439.grocery.GroceryPackage"
			genModel = "model/generated/Grocery.genmodel" />
	</extension>
</plugin>
